body {
    font-family: Arial, sans-serif;
    background-image: url("../Blue\ gradient\ white\ linear\ .jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
}

.email{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

#emailid{
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: solid 1px #87CEEB;
    border-radius: 20px;
    background-color: #87CEEB;
}


#password{
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: solid 1px #87CEEB;
    border-radius: 20px;
    background-color: #87CEEB;
}

.button{
  display: flex;
  justify-content: flex-start; 
  margin: 5px; 
  width: 300px;
}

#login{
    cursor: pointer;
    border: 0px solid darkblue;
    padding: 10px 30px;
    background-color: darkblue;
    border-radius: 20px;
    width: 100px;
    color: wheat;
}

#login a{
    text-decoration: none;
    color: wheat;
}

.button p{
    color: black;
    display: flex;
    justify-content: flex-end; 
    margin: 5px; 
    width: 500px;
}

.signup{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    width: 295px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #666;
    margin: 20px 0;
    padding-bottom: 3px; 
}










