* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{           
    background-image: url(../Logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
}

#login-form{
    border: none;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

h1{
    text-align: center;
}

#login-form input{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e0e0e0;
}

#login-form button{
    width: 100%;
    background-color: #728FCE;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

#login-form button:hover{
    background-color: #5875B5;
}

#login-form button{
    color: #FAFAFA;
}

#register-btn{
    color: #5A86AD;
    text-decoration: none;
}


















@media (max-width: 768px) {
    body {
        background-attachment: scroll;
    }
}








